<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <script src="node_modules/vue/dist/vue.js"></script>
    <!-- item template -->
    <script type="text/x-template" id="item-template">
        <li>
        <div
            :class="{bold: isFolder}"
            @click="toggle"
            @dblclick="makeFolder">
            {{ item.name }}
            <span v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
            <a v-bind:href='data'>link</a>
        </div>
        <ul v-show="isOpen" v-if="isFolder">
            <tree-item
            class="item"
            v-for="(child, index) in item.children"
            :key="index"
            :item="child"
            @make-folder="$emit('make-folder', $event)"
            @add-item="$emit('add-item', $event)"
            ></tree-item>
            <li class="add" @click="$emit('add-item', item)">+</li>
        </ul>
        </li>
    </script>
    
    <p>(You can double click on an item to turn it into a folder.)</p>
    
    <!-- the demo root element -->
    <ul id="demo">
        <tree-item
        class="item"
        :item="treeData"
        @make-folder="makeFolder"
        @add-item="addItem"
        ></tree-item>
    </ul>

    <script>
        var treeData = {
        name: 'Aditya624',
        children: [
            { 
                name: 'praxis-academy',
                data: 'https://github.com/vuejs-id/blog/blob/master/README.md'
            },
            { 
                name: 'wat',
                children: [
                    {
                    name: 'child folder',
                    children: [
                        { name: 'hello' },
                        { name: 'wat' }
                    ]
                    },
                    { name: 'hello' },
                    { name: 'wat' },
                    {
                    name: 'child folder',
                    children: [
                        { name: 'hello' },
                        { name: 'wat' }
                    ]
                    }
                ]
            },
            {
                name: 'child folder',
                children: [
                    {
                    name: 'child folder',
                    children: [
                        { name: 'hello' },
                        { name: 'wat' }
                    ]
                    },
                    { name: 'hello' },
                    { name: 'wat' },
                    {
                    name: 'child folder',
                    children: [
                        { name: 'hello' },
                        { name: 'wat' }
                    ]
                    }
                ]
            }
        ]
        }

        // define the tree-item component
        Vue.component('tree-item', {
        template: '#item-template',
        props: {
            item: Object
        },
        data: function () {
            return {
            isOpen: false
            }
        },
        computed: {
            isFolder: function () {
            return this.item.children &&
                this.item.children.length
            }
        },
        methods: {
            toggle: function () {
            if (this.isFolder) {
                this.isOpen = !this.isOpen
            }
            },
            makeFolder: function () {
            if (!this.isFolder) {
                this.$emit('make-folder', this.item)
                this.isOpen = true
            }
            }
        }
        })

        // boot up the demo
        var demo = new Vue({
        el: '#demo',
        data: {
            treeData: treeData
        },
        methods: {
            makeFolder: function (item) {
                Vue.set(item, 'children', [])
            this.addItem(item)
            },
            addItem: function (item) {
                item.children.push({
                name: 'new stuff'
            })
            }
        }
        })
    </script>
</body>
</html>